<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Sports Clips</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <nav id="nav">
				{{!-- <ul>
					<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
					<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a>
					</li>
					<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
					<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a>
					</li>
					</ul> --}}
					<!-- <ul class="icons"> -->
					<!-- <div id= "headerBottomMS"> -->
					{{!-- <br> --}}
					<ul>
            					<li><a href="https://moshecstern.github.io/portfolio/" id="top-link"><span class="icon solid fa-home">Portfolio</span></a></li>
					<li><a href="https://github.com/moshecstern" target="_blank"><span class="icon brands fa-github">Github</span></a></li>
					<li><a href="https://www.linkedin.com/in/moshe-stern-413205176/" target="_blank"><span class="icon brands fa-linkedin-in">Linkedin</span></a></li>
					<li><a href="https://www.facebook.com/moshecstern" target="_blank"><span class="icon brands fa-facebook-f">Facebook</span></a></li>
					<li><a href="https://docs.google.com/document/d/1dnQ5YTUIBKsDtE-eQgzMmvFGafXaQl0fIsTE9sZPqw4/edit?usp=sharing" target="_blank"><span class="icon brands fa-address-card">Resume</span></a></li>
					<!-- <li><a href="#" ><span class="icon solid fa-envelope">Email</span></a></li> -->
					<!-- </div> -->
				</ul>
			</nav>
    {{{body}}}
<script src="assets/js/logic.js"></script>

</body>

</html>
