/* #messages{
    float: right;
    width: 30%;
} */
body{
    background-color: aqua;
}
/* .resultsA{ */
    /* width: 40%; */
    /* height */
/* } */
/* .resultsB{ */
    /* width: 40%; */
/* }
.c{ */
    /* width:20%; */
    
/* } */
.resultsA{
    height: 700px;
    overflow-y: scroll;
}

.comment-card{
    background-color: #ee6e73;
}
